.people-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.people-container > div {
    margin-right: 16px;
}